@import "tailwindcss";


::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #222; 
  }
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #777; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  

  